<!--

Task Title

Explanation of task.

-->

<!--
The use of '.ejs' file

ejs files or embedded javascript files allows for the use of dynamic content by embedding JavaScript within HTML.
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">                                                              <!-- charset is an attribute that sets what kind of characters will be used in the website. -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">              <!-- viewport is an attribute specifies how the website will react to a certain device -->
        <link rel="stylesheet" href=".\views\dist\css\styles.css">                                 <!-- This links to a certain css file that acts as the style of the website. -->
        <title>Simple Task Manager</title>
    </head>

    <body>
        <h4>Notes</h4>
        
    
        <div class="lines"></div>

        <ul class="list">
            <li>Eat Breakfeast</li>
            <li>Feed Pugsly, the cow</li>
            <li>Sit Down</li>
            <li>Eat lunch</li>
            <li>Call mom</li>
            <li>Tweet about feeding my cow, pugsly</li>
            <li>Join a hangout in google+</li>
            <li>Prepare Dinner</li>
            <li>Eat Dinner</li>
            <li>Get ready for bed</li>
            <li>Go to bed</li>
        </ul>

        <form>
            <div class="form-container">
                <label class="form-label">New Task:</label>
                <input class="form-label" type="text">
            </div>
            <button type="submit">Submit</button>
        </form>

        <!-- This is for static javascript files. -->
        <script type="text/javascript" src=".\dist\js\main.js"></script>
    </body>
</html>