@font-face {
  font-family: 'myFont'; /* set name */
  src: url('../fonts/PaperNoise.otf') format('opentype'); /* url of the font */
}

body {
  background-color :#f5f5f5;
  background-image: url("./images/paper.png");
  width: 600px;
  margin: 0 auto;
  padding: 0;
  font-family: 'myFont';
  
}
h4 {
  color: #cd0000;
  font-size: 42px;
  letter-spacing: -2px;
  text-align: left;
  
}
.list {
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  width: 500px;
  max-height: 526px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 3px solid #dedede;
  
}
.list li {
  list-style: none;
  border-bottom: 3px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
}
.list li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
}
.lines {
  border-left: 3px solid #ffaa9f;
  border-right: 3px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 535px;
  margin-left: 40px;
}

input[type="checkbox"] {
width: 25px;
height: 25px;
margin-right: 15px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}